<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Add a new user</h1>
        <form action="/add-users" method="POST">
            <label for="username">Enter your Name:</label>
            <input type="text" name="username" id="user_name">
            <button type="submit">Register</button>
        </form>  
        </main>
</body>
</html>